<!-- The view for the show route. Will display all details for a specific book. -->
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title><%=book.title%></title>
    <link rel="stylesheet" href="/styles/book-details.css" />
  </head>
  <body>
    <div class="container">
      <nav><%- include('./partials/nav.ejs') %></nav>
      <div class="book-details">
        <div class="image-wrapper">
          <img src="<%=book.photo%>" />
        </div>
        <div class="about-book">
          <h3><%=book.title%></h3>
          <h5><%=book.author%></h5>
          <p><%=book.synopsis%></p>
        </div>
      </div>

      <div class="book-actions">
        <button class="edit-btn btn">
          <a href="/books/<%= book._id %>/edit">Edit</a>
        </button>
        <form method="POST" action="/books/<%= book._id %>?_method=DELETE">
          <input class="btn delete-btn" type="submit" value="Delete" />
        </form>
      </div>

      <div class="reviews-section">
        <div class="review-heading">
          <h3>Reviews</h3>
          <button class="btn review-btn">
            <a href="/reviews/new/<%= book._id %>">Write A Review</a>
          </button>
         
        </div>
 <br>

        <div class="book-review">
          <% if (book.reviews && book.reviews.length > 0) { %> <% for (let
          review of book.reviews) { %>
            <div class="review">
          <h4><%= review.reviewTitle %> <%= review.rating %>/10</h4>
          <p><%= review.reviewerName %></p>
          <p><%= review.content %></p></div>
          <% } %> <% } else { %>
          <p>Write the first review!</p>
          <% } %>
        </div>
      </div>
      <footer><%- include('./partials/footer.ejs') %></footer>
    </div>
  </body>
</html>
