<!-- The view for the show route. Will display all details for a specific book. -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/book-details.css" />
  </head>
  <body>
    <div class="container">
    <nav><%- include('./partials/nav.ejs') %></nav>
      <div class="book-details">
        <div class="image-wrapper">
        <img src="<%=book.photo%>" />
      </div>
        <div class="about-book">
          <h3><%=book.title%></h3>
          <h5><%=book.author%></h5>
          <p><%=book.synopsis%></p>
        </div>
      </div>

      <div class="book-actions">
     
      </div>

      <div class="reviews-section">
        
       
      </div>
      <footer> <%- include('./partials/footer.ejs') %> </footer>
    </div>
    
  </body>
</html>
