<!-- The view for the index route. Will display ALL BOOKS -->
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>All Books</title>
    <link rel="stylesheet" href="/styles/book-index.css">
  </head>
  <body>
    <div class="container">
     <nav><%- include('./partials/nav.ejs') %></nav>
     
    <div class="library">
      <h2>Here's What We've Read So Far...</h2>
      <ul class ='grid'>
        <% for (let book of books){ %>
        <li class= 'content'>
          <figure>
            <a href="/books/<%=book._id%>"> <img src="<%=book.photo%>" /></a>

            <figcaption>
              <h4><%=book.title%></h4>
              <p><%=book.bomMonth%>
                <%=book.bomYear%>
              </p>

              <h6></h6>
            </figcaption>
          </figure>
        </li>
        <%}%>
      </ul>
    </div>
    <footer><%- include('./partials/footer.ejs') %></footer>
  </div>
  </body>
</html>
