<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <title>Edit Book</title>
  </head>
  <body>
    <nav><%- include('./partials/nav.ejs') %></nav>
    <section>
      <form method="POST" action="/books/<%=book._id%>?_method=PUT">
        <div class="input-box">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= book.title %>"
            required
          />
        </div>
        <br />

        <div class="input-box">
          <label for="author">Author:</label>
          <input
            type="text"
            id="author"
            name="author"
            value="<%= book.author %>"
            required
          />
        </div>

        <br />

        <div class="input-box">
          <label for="genre">Genre:</label>
          <input
            type="text"
            id="genre"
            name="genre"
            value="<%= book.genre %>"
            required
          />
        </div>

        <br />

        <div class="text-area">
          <label for="synopsis">Synopsis:</label>
          <textarea type="text" id="synopsis" name="synopsis" required>
<%=book.synopsis%></textarea
          >
        </div>
        <br />

        <div class="input-box">
          <label for="photo">Cover Photo:</label>
          <input
            type="text"
            id="photo"
            name="photo"
            value="<%= book.photo %>"
            required
          />
        </div>
        <br />

        <div class="checkbox">
          <label for="isBookOfMonth">Book of the Month?</label>
          <input
            type="checkbox"
            name="bookOfMonth"
            value="<%=book.isBookOfMonth%>"
          />
        </div>
        <br />

        <div class="input-box">
          <label for="bomMonth">Month:</label>
          <input
            type="text"
            placeholder="Month Highlighted"
            id="month"
            name="month"
            value="<%= book.bomMonth %>"
            required
          />
        </div>
        <br />

        <div class="input-box">
          <label for="bomYear">Year:</label>
          <input
            type="text"
            placeholder="Year Highlighted"
            id="year"
            name="year"
            value="<%= book.bomYear %>"
            required
          />
        </div>
        <br />

        <div class="input-box">
          <label for="bomReason">Reason:</label>
          <textarea
          type="text"
          placeholder="Why is this the Book Of The Month?"
          id="reason"
          name="reason"
        ><%= book.bomReason %></textarea>
        </div>
        <br />

        <div class="checkbox">
          <label for="isFeatured">Featured Book?</label>
          <input
            type="checkbox"
            name="featuredBooks"
            value="<%=book.isBookOfMonth%>"
          />
        </div>
        <br />
        <input type="submit" value="Add Book" />
      </form>
    </section>
    <footer><%- include('./partials/footer.ejs') %></footer>
  </body>
</html>
