<!-- The landing page of the application, will display featured books. -->
<html lang="en">
  <head>
      <%- include('./partials/head.ejs') %>
      <title>BGR</title>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>

    <div class="container">
   <nav><%- include('./partials/nav.ejs') %></nav>
      <!-- book of month -->
      <div id="bookofmonth">
        <div id='bookcover' >
          <a href="/books/<%=bookOfMonth._id%>"
            ><img src="<%=bookOfMonth.photo%>"
          /></a>
        </div>
          
        <div id="info">
          <h3><%=bookOfMonth.bomMonth%> <%=bookOfMonth.bomYear%></h3>
          <p><%=bookOfMonth.synopsis%></p>
        </div>
      </div>
      
      <!-- featured books -->
      <div id="spotlight"> 
        <h3>Featured Books</h3>
       <ul class='featured-books'>
        <% for(let featuredBook of featuredBooks){%>
          <li class="featured-book">
            <figure>
              <a href="/books/<%=featuredBook._id%>"
                ><img class="featurecover" src="<%=featuredBook.photo%>"
              /></a>
            </figure>
            <figcaption>
            
                <h3><%=featuredBook.title%></h3>
                <h4>
                  <%=featuredBook.bomMonth%> <%=featuredBook.bomYear%>
                </h4>
          
            </figcaption>
          </li>
          <% } %>
       </ul>

      </div>
      <footer><%- include('./partials/footer.ejs') %></footer>
    </div>  
  </body>
</html>
